*.pyc
datasets
custom_terminal.css
webscraping/posts
projet_groupe_6/database.ini
projet_groupe_6/design/MCD+MLD_IA_ALIMENTAIRE_G6.png
projet_groupe_6/design/MLD_Alim.lo1
projet_groupe_6/design/MLD_Alim.loo